body,
p {
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 315px;
  height: 315px;
  background: #e8dada;
  border: 3px solid #000000;

  /* Note: backdrop-filter has minimal browser support */
  border-radius: 25px;
}

.extreme-logo {
  height: 40px;
}

.logo-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.game {
  text-align: center;
}

.difficulty-buttons {
  display: flex;
  justify-content: space-evenly;
  width: 110%;
}

li {
  list-style: none;
}
.soft-container {
  visibility: hidden;
}
.hard-container {
  visibility: hidden;
}

.hide {
  visibility: hidden;
}
